*, :after, :before {
    box-sizing: border-box;
}
.ts-main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ts-colsWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgb(45 62 80 / 12%) 0px 0px 10px 1px;
}
.ts-column {
    width: 50%;
    flex: 1;
    padding: 30px 15px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: unset;
}
.ts-datepicker-container {
    background-color: #2E4259;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.ts-content-container {
    padding: 0 15px;
}
.ts-column h3 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    color: #2E4259;
    margin: 0 0 20px 0;
}
.ts-availableTime-container {
    overflow-y: scroll;
    height: auto;
    max-height: 322px;
}
.ts-time-container {
    font-family: 'Montserrat';
    padding: 12px 24px;
    max-width: 100%;
    background-color: rgba(46, 66, 89, 0.05);
    color: #2E4259;
    border: 1px solid rgba(46, 66, 89, 0.3);
    margin: 7.5px 7.5px 7.5px 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ts-time-container:hover {
    background-color: rgba(46, 66, 89, 1);
    color: #33EDC0;
}
.ts-preload-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    z-index: 998;
    display: none;
}
.ts-preload-colsWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 30px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
}
.ts-preload-colsWrapper h3 {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

/* SCROLL DESIGN */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5); 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2E4259; 
    border-radius: 10px;
}

/* PRE LOADER */
.ts-circle-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ts-circle  {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: 10px;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
    animation: bounce 1.5s 0.5s linear infinite;
    background-color: #33EDC0;
}
.circle1 {
	background-color: #33EDC0;
}
.circle2 {
	background-color: #33EDC0;
	animation-delay: 0.1s;
}
.circle3 {
	background-color: #33EDC0;
	animation-delay: 0.2s;
}
.circle4 {
	background-color: #33EDC0;
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(0.7);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.3);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.1);
	}
}

/* FORM */
.ts-form-container {
    position: relative;
    display: none;
}
.ts-form-container form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #2E4259;
    border-radius: 5px;
    box-shadow: rgb(45 62 80 / 12%) 0px 0px 10px 1px;
}
.ts-close-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 30px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #2E4259;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #33EDC0;
    z-index: 999;
}
.ts-input-container {
    padding: 15px 10px;
}
.ts-input-container h3 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    text-align: center;
}
.ts-input-container label {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}
.ts-input-container input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    margin-top: 8px;
    color: #ffffff;
    background-color: #243446;
    border: none;
}
.ts-input-container input::placeholder, .ts-input-container textarea::placeholder {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9);
}
.ts-input-container input[type="date"], .ts-input-container input[type="time"] {
    text-transform: uppercase;
}
.ts-input-container input[type="date"]::-webkit-calendar-picker-indicator, .ts-input-container input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
  }
.ts-input-container textarea {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    padding: 15px 10px;
    background-color: #243446;
    border: none;
    color: #ffffff;
}
.ts-input-container.ts-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ts-form-submit {
    width: 180px;
    height: 50px;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    background-color: #33EDC0;
    border: none;
    border-radius: 3px;
}
.ts-form-submit:hover {
    background-color: #ffffff;
}
.ts-col-3 {
    width: 33.33%;
}
.ts-col-2 {
    width: 50%;
}
.ts-col-1 {
    width: 100%;
}

/* DATE PICKER */
.ui-widget.ui-widget-content {
    width: 100%;
}
.ui-widget.ui-widget-content {
    border: none;
}
.ui-widget-content {
    border: none;
    background-color: transparent;
    color: #ffffff;
}
.ui-datepicker table {
    margin-top: 30px;
}
.ui-widget-header {
    border: none;
    background: #33EDC0;
    color: #2E4259;
}
.ui-datepicker th {
    text-transform: uppercase;
}
.ui-datepicker td .ui-state-default {
    width: auto;
    height: auto;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    background-color: #33EDC0;
    color: #2E4259;
    border-radius: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default:hover {
    background-color: rgba(51,237,192,0.5);
    color: #ffffff;
    border-radius: 10px;
}